VB.NET/TestesWebService/AppCliente/Service References/ContatosReference/Contatos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarContatos">
        <s:complexType />
      </s:element>
      <s:element name="ListarContatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarContatosResult" type="tns:ArrayOfContato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contato" nillable="true" type="tns:Contato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarContatosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarContatos" />
  </wsdl:message>
  <wsdl:message name="ListarContatosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarContatosResponse" />
  </wsdl:message>
  <wsdl:portType name="ContatosSoap">
    <wsdl:operation name="ListarContatos">
      <wsdl:input message="tns:ListarContatosSoapIn" />
      <wsdl:output message="tns:ListarContatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContatosSoap" type="tns:ContatosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarContatos">
      <soap:operation soapAction="http://tempuri.org/ListarContatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContatosSoap12" type="tns:ContatosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarContatos">
      <soap12:operation soapAction="http://tempuri.org/ListarContatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contatos">
    <wsdl:port name="ContatosSoap" binding="tns:ContatosSoap">
      <soap:address location="http://localhost:51046/Contatos.asmx" />
    </wsdl:port>
    <wsdl:port name="ContatosSoap12" binding="tns:ContatosSoap12">
      <soap12:address location="http://localhost:51046/Contatos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>